* {
  box-sizing: border-box;
}
body {
  position: relative;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0;
}

form {
  background: #007bc1;
  position: fixed;
  top: 100%;
  left: 0;
  color: white;
  max-width: 640px;
  padding: 32px;
}

form h2 {
  margin: 4px 0;
}

form #closeForm {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 16px;
}
form button {
  border-width: 0;
  border-radius: 2px;
  background: #ff8000;
  color: white;
  padding: 4px 8px;
  font-weight: 700;
}
form button:hover {
  background: #cc6600;
}
form input {
  padding: 4px 8px;
}
form .cell {
  padding-bottom: 8px;
}
form input
, form button {
  width: 100%;
}

.footer {
  background: #004a75;
  color: white;
  padding: 32px;
  text-align: center;
}

.elNotification {
  position: fixed;
  top: 0;
  left: 0;
  background: #e5e5e5;
  width: 100%;
  padding: 16px 8px;
}
.elNotification .content button {
  display: block;
  margin: 8px 0 4px;
  padding: 8px 16px;
  background: #007dbf;
  color: white;
  border-width: 0;
  border-radius: 4px;
}
.elNotification .content button:hover {
  background: #004a75;
}
.elNotification.fake {
  position: relative;
}
.elNotification.real {
  z-index: 1;
}

#elHeader {
  position: relative;
  background: #004a75 url("{{ asset(
    '/img/work-desk__dustin-lee.jpg'
  ) }}");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}
#elHeader img.logo {
  width: 32px;
  position: absolute;
  left: 32px;
  top: 16px;
}
#elHeader .headline {
  padding: 128px 4px;
  text-align: center;
  color: white;
}
#elHeader .headline h1
,#elHeader .headline h2 {
  margin: 0;
}
#elHeader .headline h1 {
  font-weight: 300;
}
#elHeader .headline p {
  max-width: 360px;
  margin: 16px auto 32px;
}
#elHeader .headline button {
  border: 2px solid white;
  background: transparent;
  padding: 8px 16px;
  color: white;
  border-radius: 2px;
  font-weight: 700;
}
#elHeader .headline button:hover {
  background: white;
  color: #004a75;
}

.highlights {
  position: relative;
  background: #e5e5e5;
  padding: 16px;
}
.highlights .header {
  text-align: center;
}
.highlights .header p {
  max-width: 560px;
  margin: 16px auto;
}
.highlights .header h2 {
  font-weight: 400;
}
.highlights .items .item {
  padding: 16px;
}
.highlights .items .item .inner {
  border: 2px solid rgba(0, 0, 0, .2);
  padding: 8px 16px;
  position: relative;
}
.highlights .items .item .inner .icon {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  opacity: .5;
}

@media (min-width: 480px) {
  .highlights .items {
    display: flex;
    flex-wrap: wrap;
  }
  .item {
    flex: 1;
    min-width: 50%;
  }
}

@media (min-width: 640px) {
  form .wrapper {
    display: table;
    width: 100%;
  }
  form .wrapper .row {
    display: table-row;
  }
  form .wrapper .cell {
    display: table-cell;
  }
  form .wrapper .cell.button {
    width: 128px;
  }
  form input {
    width: 97%;
  }
}

@media (min-width: 721px) {
  .elNotification .content {
    position: relative;
    max-width: 720px;
    margin: 0 auto;
    padding-right: 96px;
  }
  .elNotification .content button {
    position: absolute;
    right: 16px;
    top: 0;
    display: inline-block;
    margin: 0;
  }
}

@media (min-width: 961px) {
  .item {
    min-width: 33.33%;
  }
}
